/* normalize */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[hidden] {
  display: none;
}


/* main */
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 300;
  src: url('../font/circular-light.woff2') format('woff2'),
       url('../font/circular-light.woff') format('woff');
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

body {
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

.background .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.background .background-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
}

.article {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: 'Circular', serif;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 1;
}

.article .title {
  margin: 10px 0px 15px;
  line-height: 1.2;
  font-size: 48px;
}

.article .description {
  margin: 15px 0px 30px;
  line-height: 1.25;
  font-size: 18px;
}

.article footer .read-more {
  padding: 0px 35px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: background 300ms;
  display: inline-block;
  cursor: pointer;
}

.article footer .read-more:hover {
  background: rgba(255, 255, 255, 0.1);
}

.source-options {
  width: 400px;
  padding: 15px;
  position: absolute;
  right: 15px;
  bottom: 65px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  z-index: 3;
  display: none;
}

.source-options::after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  right: 70px;
  bottom: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.8);
}

.source-options .image {
  margin-bottom: 10px;
  text-align: center;
}

.source-options .image img {
  height: 30px;
  vertical-align: middle;
}

.source-options .col {
  width: 25%;
  float: left;
}

.source-options .form-group input[type="radio"] {
  display: none;
}

.source-options .form-group label {
  padding: 6px;
  font-family: 'Circular', serif;
  text-align: center;
  display: block;
  transition: all 100ms ease-out;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
}

.source-options .form-group label:hover {
  border: 1px dotted #808080;
}

.source-options .form-group input[type="radio"]:checked + label {
  color: #fff;
  background-color: #f4900c;
}

.source-options .form-group input[type="radio"]:checked + label:hover {
  border: 1px solid transparent;
}

.options {
  position: absolute;
  right: 15px;
  bottom: 65px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  border-bottom-right-radius: 0px;
  z-index: 3;
  display: none;
}

.options::after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  right: 0px;
  bottom: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.8);
}

.options .form-group {
  padding: 15px;
  border-bottom: 1px dotted #808080;
}

.options .form-group:last-child {
  border: none;
}

.options .form-group a {
  color: #000;
  font-size: 10px;
}

.options .form-group label {
  font-family: 'Circular', serif;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
}

.options .form-group label span {
  margin-right: 6px;
  font-size: 20px;
  vertical-align: middle;
}

.options .form-group label input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.options .form-group input[type=checkbox]:checked + span:after {
  content: '';
  width: 22px;
  height: 22px;
  background: url('../img/thumbs-up.png');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
}

.options .form-group label span:after {
  content: '';
  width: 22px;
  height: 22px;
  background: url('../img/thumbs-down.png');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
}

.band {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.band .band-logo {
  padding: 0px 15px;
  float: left;
  line-height: 50px;
}

.band .band-logo img {
  height: 30px;
  vertical-align: middle;
  opacity: 0.5;
  transition: all 200ms ease-out;
}

.band .band-logo:hover img {
  opacity: 1;
}

.band .band-logo span {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  vertical-align: middle;
  opacity: 0;
  transition: all 200ms ease-out;
  cursor: default;
}

.band .band-logo:hover > span {
  opacity: 1;
}

.band .band-navigation {
  padding: 0px 15px;
  float: right;
}

.band .band-navigation ul {
  margin: 0px;
  padding: 0px;
  float: left;
  list-style: none;
}

.band .band-navigation ul li {
  float: left;
  margin-left: 25px;
}

.band .band-navigation ul li.saved {
  color: #fff;
  display: none;
}

.band .band-navigation ul li.saved p {
  margin: 0px;
}

.band .band-navigation ul li:first-child {
  margin-left: 0px;
}

.band .band-navigation ul li img {
  vertical-align: middle;
}

.band .band-navigation ul li img.source-logo {
  width: 70px;
  cursor: pointer;
}

.band .band-navigation ul li img.options-button {
  width: 20px;
  cursor: pointer;
}