@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

*:focus {
  outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #fff;
}

body {
  min-height: 100vh;
  margin: 0px;
  background: #222;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #222;
  opacity: .8;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 740px;
  height: 100vh;
  margin: 0 auto;
  display: table;
}

.article,
.settings {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.article p,
.settings p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #fff;
}

.article p.title,
.settings p.title {
  font-size: 52px;
}

.article p.description,
.settings p.description {
  margin-top: 20px;
  font-size: 18px;
  opacity: .8;
}

.article p.more {
  margin-top: 20px;
  font-size: 12px;
  opacity: .8;
}

.settings .line {
  width: 160px;
  height: 1px;
  margin-top: 20px;
  background-color: #fff;
  opacity: .8;
}

.settings form {
  width: 100%;
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  opacity: .8;
}

.settings input[type='checkbox'],
.settings input[type='radio'] {
  display: none;
}

.settings input[type='checkbox'] + label,
.settings input[type='radio'] + label {
  margin-right: 4px;
  font-size: 14px;
  cursor: pointer;
}

.settings input[type='checkbox'] + label span {
  width: 18px;
  height: 18px;
  margin: -4px 3px 0px 0px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  opacity: .8;
}

.settings input[type='radio'] + label span {
  width: 18px;
  height: 18px;
  margin: -4px 3px 0px 0px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  opacity: .8;
}

.settings input[type='checkbox'] + label span,
.settings input[type='radio'] + label span {
  background-color: #9e9e9e;
}

.settings input[type='checkbox']:checked + label span,
.settings input[type='radio']:checked + label span {
  background-color: #4caf50;
}

.settings input[type='checkbox'] + label span,
.settings input[type='checkbox']:checked + label span,
.settings input[type='radio'] + label span,
.settings input[type='radio']:checked + label span {
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
