@font-face {
  font-family: 'robotoslab-regular';
  src: url('robotoslab-regular.woff2') format('woff2'), url('robotoslab-regular.woff') format('woff');
}

@font-face {
  font-family: 'robotoslab-light';
  src: url('robotoslab-light.woff2') format('woff2'), url('robotoslab-light.woff') format('woff');
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0;
  background: #222;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: #222;
  opacity: .8;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 740px;
  height: 100vh;
  margin: 0 auto;
  display: table;
}

.article,
.options {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.article p,
.options p {
  margin: 0;
  font-family: 'robotoslab-regular', serif;
  font-weight: 400;
  color: #fff;
}

.article p.title,
.options p.title {
  font-size: 52px;
  line-height: 60px;
}

.article p.description,
.options p.description {
  margin-top: 20px;
  font-size: 18px;
  opacity: .8;
}

.article p.more {
  margin-top: 20px;
  font-family: 'robotoslab-light';
  font-size: 12px;
  opacity: .8;
}

.options .group {
  margin-top: 20px;
  clear: both;
}

.options .group img {
  width: 60px;
  height: 28px;
}

.options .group .logo {
  margin-right: 10px;
  float: left;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  margin-left: 4px;
  padding: 6px;
  display: inline-block;
  background-color: #fff;
  font-family: 'robotoslab-regular', serif;
  color: #222;
  text-align: center;
  cursor: pointer;
  transition: all 100ms ease-out;
  opacity: .8;
}

.options label:hover {
  opacity: 1;
}

.options input[type="radio"]:checked + label {
  color: #fff;
  background-color: #388e3c;
  opacity: 1;
}

.options-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.options-button img {
  width: 20px;
  height: 20px;
}
