@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400';

*:focus {
  outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #fff;
}

body {
  min-height: 100vh;
  margin: 0px;
  background: #222;
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #222;
  opacity: .8;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 740px;
  height: 100vh;
  margin: 0 auto;
  display: table;
}

.article,
.settings {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.article p,
.settings p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #fff;
}

.article p.title,
.settings p.title {
  font-size: 52px;
}

.article p.description,
.settings p.description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  opacity: .8;
}

.article p.more,
.settings p.saved {
  font-size: 12px;
  opacity: .8;
}

.settings p.saved {
  margin-top: 10px;
  opacity: 0;
}

.settings select {
  width: 100%;
  padding: 6px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #222;
  border: none;
}
